.v-treetable-node-open:before {
    content: '\02C5' !important;
}

.v-treetable-node-closed:before {
    content: '\02C3' !important;
}

.light .v-menubar .v-menubar-submenu-indicator + .v-menubar-menuitem-caption::after {
	content: '\02C5' !important;
}

.light .v-menubar-popup .v-menubar-submenu-indicator + .v-menubar-menuitem-caption::after {
     content: '\02C3' !important;
}
  
.light .v-filterselect [class$="button"]::before {
     content: '\02C5' !important;	
}

:root .light .v-checkbox > input ~ label::after {
	 content: 'X'	
}

  
